<form [formGroup]="squareForm">
    <mat-form-field>
        <mat-label>Identifier</mat-label>
        <input matInput type="text" formControlName="identifier">
        <mat-error *ngIf="f.identifier.hasError('required')">
            Identifier is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>X position</mat-label>
        <input matInput type="number" formControlName="x">
        <mat-error *ngIf="f.x.hasError('required')">
            X position is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Y position</mat-label>
        <input matInput type="number" formControlName="y">
        <mat-error *ngIf="f.y.hasError('required')">
            Y position is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Size</mat-label>
        <input matInput type="number" formControlName="size">
        <mat-error *ngIf="f.size.hasError('required')">
            Size is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
            <mat-option [value]="'stroke'">{{'Stroke'}}</mat-option>
            <mat-option [value]="'fill'">{{'Fill'}}</mat-option>
        </mat-select>
        <mat-error *ngIf="f.type.hasError('required')">
            type is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput type="text" formControlName="color">
        <mat-error *ngIf="f.color.hasError('required')">
            Color is <strong>required</strong>
        </mat-error>
    </mat-form-field>
</form>


<div mat-dialog-actions>
    <button mat-raised-button (click)="closeModal()" [disabled]="!squareForm.valid">Add square</button>
</div>
