

mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: whitesmoke;
  width: auto;
  max-width: 400px;
  min-width: 300px;
}

button.open-sidenav {
  margin: 10px;
}
